.start-screen-wrapper {
  /* width: 1920px;
  height: 963px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(../images/milionare-background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.start-button {
  margin-top: 640px;
  width: 640px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
}

.start-button h2 {
  color: #ffffff;
}

.buttons-wrapper .dropdown-wrapper {
  text-align: center;
  margin-top: 20px;
}
.buttons-wrapper .dropdown-wrapper .drop-down-button {
  margin-top: 5px;
  width: 640px;
  height: 60px;
  border-radius: 25px;
  text-align: center;
  line-height: 60px;
  /* display: flex; */
  /* justify-content: center; */
  background-color: #212529;
  border: none;
}

.buttons-wrapper .dropdown-wrapper .drop-down-button img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  float: right;
}

.dropdown-wrapper .drop-down-content {
  display: none;
}
.dropdown-wrapper .drop-down-content .categories-list ul li {
  list-style-type: none;
}
/* .difficulty-list {
  display: none;
}
.categories-list {
  display: none;
} */
.question-answer-wrapper {
  /* /* display: flex; */
  display: flex;
  flex-direction: column;
  margin-top: 640px;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.question-answer-wrapper .question-holder {
  width: 1600px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 30px;
  background-color: #212529;
}

.question-answer-wrapper .answers-holder {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.question-answer-wrapper .answers-holder .answer {
  width: 790px;
  height: 60px;
  background-color: #212529;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
